@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&display=swap');


*{
    margin:0;
    box-sizing: border-box;
}
    body{
        background-color: hsl(0, 0%, 95%);
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
    }

main{
    background-color: white;
    display: flex;
    width: min(70%, 60rem);
    align-items: center;
    height: 100vh;
}
header{
    margin-top: 30px;
}
div{
    display: block;
}
.first-container{
    background-color: hsl(31, 77%, 52%);
    padding: 48px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.img{
    margin-bottom: 32px;
    display: block;
}
.first-container h3{
    color: white;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    padding: 20px;

}
.first-container p{
    color: white;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    padding: 0 20px 20px 20px;
}
.second-container{
    background-color: hsl(184, 100%, 22%);
    padding: 48px;
}
.second-container h3{
    color: white;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    padding: 19px;
}
.second-container p{
    color: white;
    font-size: 15px;
    padding: 0 20px 20px 20px;
    font-family: 'Lexend Deca', sans-serif;    
}
.third-container{
    background-color: hsl(179, 100%, 13%);
    padding: 48px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.third-container h3{
    color: white;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    padding: 19px;
}
.third-container p{
    color: white;
    font-size: 15px;
    padding: 0 20px 20px 20px;
    font-family:'Lexend Deca', sans-serif ;
}


/*Buttons*/
button{
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    width: 7rem;
    height: 2.5em;
    margin: 20px;
}
.first-container button{
    background-color: white;
    color: hsl(31, 77%, 52%);
    border-color: white;
    font-family: Lexend Deca', sans-serif;

}
    .second-container button{
    background-color: white;
    color: hsl(184, 100%, 22%);;
    border-color: white;
    font-family: Lexend Deca', sans-serif;
    }
    .third-container button{
        background-color: white;
        color: hsl(179, 100%, 13%);
        border-color: white;
        font-family:'Lexend Deca', sans-serif;;
    }
    

    
    @media screen and (max-width:800px) {
        main{
            flex-direction: column;
            margin-bottom: 30px;
            display: flex;
        }
        .first-container{
            border-bottom-right-radius: 10px;
        }
        .div{
            border-radius: 5px;
        }
        .third-container{
            border-top-left-radius: 10px;
        }
            .grid-button{
                background-color: hsl(31,77%,52%);
            }
        }
    /*Link section*/
    
    .grid-button{
        background-color:hsl(184, 100%, 22%);
        color: hsla(0, 0%, 100%, 0.75);
        border-radius: 50rem;
        padding:16px 32px;
        border: 0;
        font-family: 'Lexend Deca', sans-serif;
    
    }
    a{
        color: hsla(0, 0%, 100%, 0.7s);
        text-decoration: none;
        font-size: 16px;
    }


        

    
    
        
    